<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="CSSQL" connectionString="Data Source=DESKTOP-UT91DPI;Database=PuntoVentaPaqueteMediano;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="CursoPuntoDeVentasTresCapas.Properties.Settings.PuntoVentaPaqueteMedianoConnectionString"
   connectionString="Data Source=DESKTOP-UT91DPI;Initial Catalog=PuntoVentaPaqueteMediano;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>